force-app/main/default/flows/LWC_Integration_In_FLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Year2018</name>
        <choiceText>2018</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2018</stringValue>
        </value>
    </choices>
    <choices>
        <name>Year2019</name>
        <choiceText>2019</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2019</stringValue>
        </value>
    </choices>
    <choices>
        <name>Year2020</name>
        <choiceText>2020</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020</stringValue>
        </value>
    </choices>
    <choices>
        <name>Year2021</name>
        <choiceText>2021</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2021</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Selected_Year</name>
        <label>Check Selected Year</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Screen2021</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>2021</defaultConnectorLabel>
        <rules>
            <name>X2018</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Year2018</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2018</targetReference>
            </connector>
            <label>2018</label>
        </rules>
        <rules>
            <name>X2019</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Year2019</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2019</targetReference>
            </connector>
            <label>2019</label>
        </rules>
        <rules>
            <name>X2020</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Year2020</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2020</targetReference>
            </connector>
            <label>2020</label>
        </rules>
    </decisions>
    <interviewLabel>LWC Integration In FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LWC Integration In FLow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Year</targetReference>
        </connector>
        <fields>
            <name>heading</name>
            <extensionName>c:headingCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strHeading</name>
                <value>
                    <stringValue>Uefa Champions League</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backgroundColor</name>
                <value>
                    <stringValue>#000000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontColor</name>
                <value>
                    <stringValue>#ffffff</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strHeroHeight</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strDescription</name>
                <value>
                    <stringValue>Finals 2018-2021</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select</name>
            <choiceReferences>Year2018</choiceReferences>
            <choiceReferences>Year2019</choiceReferences>
            <choiceReferences>Year2020</choiceReferences>
            <choiceReferences>Year2021</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Year2018</defaultSelectedChoiceReference>
            <fieldText>Select Year To know The Winner</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next</name>
            <extensionName>c:customNavigationButtonCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleClass</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>space1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2018</name>
        <label>Screen2018</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RM</name>
            <extensionName>c:headingCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backgroundColor</name>
                <value>
                    <stringValue>#000000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontColor</name>
                <value>
                    <stringValue>#ffffff</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strHeading</name>
                <value>
                    <stringValue>REAL MADRID</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strHeroHeight</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>previous1</name>
            <extensionName>c:customNavigationButtonCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleClass</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>space2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2019</name>
        <label>Screen2019</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LIV</name>
            <extensionName>c:headingCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backgroundColor</name>
                <value>
                    <stringValue>#000000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontColor</name>
                <value>
                    <stringValue>#ffffff</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strHeading</name>
                <value>
                    <stringValue>LIVERPOOL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strHeroHeight</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Previous2</name>
            <extensionName>c:customNavigationButtonCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleClass</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>space3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2020</name>
        <label>Screen2020</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BM</name>
            <extensionName>c:headingCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backgroundColor</name>
                <value>
                    <stringValue>#000000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontColor</name>
                <value>
                    <stringValue>#ffffff</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strHeading</name>
                <value>
                    <stringValue>BAYERN MUNICH</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strHeroHeight</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PREVIOUS3</name>
            <extensionName>c:customNavigationButtonCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleClass</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>space4</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2021</name>
        <label>Screen2021</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH</name>
            <extensionName>c:headingCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backgroundColor</name>
                <value>
                    <stringValue>#000000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontColor</name>
                <value>
                    <stringValue>#ffffff</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strHeading</name>
                <value>
                    <stringValue>CHELSEA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strHeroHeight</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PREVIOUS4</name>
            <extensionName>c:customNavigationButtonCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleClass</name>
                <value>
                    <stringValue>slds-float_right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>space5</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
